{
    "extends": ["@eduzz/eslint-config-houston/node"],
    "rules": {
      "@typescript-eslint/ban-types": [
        "error",
        {
          "types": {
            "Function": false
          },
          "extendDefaults": true
        }
      ]
    }
}